{% extends "base.twig" %}
{% block content %}
    {% if error %}
        <div class="alert alert-danger" role="alert">
           Login failed
        </div>
    {% endif %}
    <form method="post">
        <div class="form-group">
            <label for="inputLogin">Login</label>
            <input type="text" class="form-control" id="inputLogin" placeholder="Enter Login" name="username">
        </div>
        <div class="form-group">
            <label for="inputPassword1">Password</label>
            <input type="password" class="form-control" id="inputPassword1" placeholder="Password" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}