<ul class="nav">
    <li class="nav-item">
        <a class="nav-link {% if active == 'list'  %}active{% endif %}" href="/admin">Posts list</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active == 'post'  %}active{% endif %}" href="/admin/post/create">Add new post</a>
    </li>
</ul>