{% extends "base.twig" %}
{% block title %}Admin - Posts list{% endblock %}
{%  block top %} <div class="col-4 d-flex justify-content-end align-items-center">
    <a class="btn btn-sm btn-outline-secondary" href="/logout">logout</a>
</div>
{% endblock %}

{% block content %}
    {% include '/admin/admin-nav.twig' with {'active' : 'list'} %}


    <div class="row">
        <div class="col-md">
            <ul>
            {% for post in posts %}
                <li class="blog-post">{{ post.getTitle() }} - <a href="/admin/post/{{ post.getId() }}">edit</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>
    </div>

{% endblock %}